:root {
    --primary: #756d6b;
    --secondary: #a2bdb5;
    --dark: rgb(53, 52, 52);
    --light: rgb(255, 255, 255);
}

body {
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
}

.app-title {
    color: var(--dark);
    background-color: var(--primary);
    padding: 30px;
    font-size: 30px;
    font-style: italic;
}

.card-body {
    padding: 10px;
}

.btn {
    padding: 5px;
    color: var(--light);
    background-color: var(--dark);
}

